body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(33, 33, 38);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.brandColor {
  background-color: #00297A !important;
  color: white !important;
}

.topNav {
  border-bottom-color: rgb(215, 215, 220);
  border-bottom-style: solid;
  border-bottom-width: 1px
}

.actions {
  margin-right: 35px !important;
}